.wrapper {
    height: 100vw;
    width: 93.75%;
    background: url(blow2.png);
    background-size: cover;
    margin-left: 6.25%;
  
}

.header {
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-style: 40px;
    line-height: 30px;
    color: #d8c3c3;
    font-family: "Montserrat";
    font-weight: 900;
    margin: 30px 0 0 30px;
}

.navbar {
    width: 480px;
    margin: 30px 30px 0 0;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li a {
    display: flex;
    width: 100px;
    height: 41px;
    border-radius: 20px;
    color: rgb(2, 2, 2);
    text-decoration: none;
    align-items: center;
    justify-content: center;

}

.navbar ul li a:hover {
    background-color: #000000;
    color: white;
}

.explore {
    margin: 0 auto;
    width: fit-content;
}

.explore button {
   
    width: 300px;
    height: 60px;
    border-radius: 30px;
    background-color: #000000;
    color: white;
    font-family: "Montserrat";
  
}
